extends ../shared/layout

block main-content
    .text-center
        .row
            .col-md-4.col-md-offset-2
                .row
                    img(src=product.imageUrl).img-responsive
            .col-md-4
                .panel.panel-info
                    .panel-heading
                        h3.panel-title Details
                    .panel-body
                        ul.list-group
                            li.list-group-item Name:
                                strong= product.name
                            li.list-group-item Posted By:
                                strong= product.postedBy
                            li.list-group-item Min Price:
                                strong= product.price
                            li.list-group-item Posted Date:
                                strong= product.postedDate
                            li.list-group-item Description:
                                strong= product.description
        form.row(action="/products/details/order",method="post")
            .col-md-2
                input(type="hidden" name="productId", value=product.id)
            .col-md-2.col-md-offset-6
                button.btn.btn-success(type="submit") Order Product
        br
        .row
            .col-md-2.col-md-offset-8
                a.btn.btn-primary(href="/products/details/" + product.id + "/orders") All orders
        br