extends ../shared/layout
block main-content
    .jumbotron.text-center
        .row
            .col-md-4.col-md-offset-2
                .row
                    img(src=product.imageUrl)
            .col-md-4
                .panel.panel-info
                    .panel-heading
                        h3.panel-title Details
                    .panel-body
                        ul.list-group
                            li.list-group-item Name:
                                strong= product.name
                            li.list-group-item Posted By:
                                strong= product.postedBy
                            li.list-group-item Price:
                                strong= product.price
                            li.list-group-item Posted Date:
                                strong= product.postedDate
                            li.list-group-item Description:
                                strong= product.description
        .row
            .col-md-4.col-md-offset-6
                button.btn.btn-success Bid
            .col-md-4.col-md-offset-6
                if(currentUser.roles.indexOf('admin') > -1)
                    button.btn.btn-success Test button for admin
